
____________________________: Host info :________________________________

 [ OS family ]   :       {{ ansible_os_family }}
 [ Location  ]   :       {{ facter_ec2_placement_availability_zone }}
 [ Provider  ]   :       Amazon Web Serice
 [ State     ]   :       production
 [ DNS name  ]   :       {{ ansible_fqdn }}
 [ Support   ]   :       9:00 - 17:00

